@charset "UTF-8";
.hello{
	text-align: center;
}

.login{

	display:flex;
    margin-left:200px;
}

.botan1{
	display:flex;
	margin-left:200px;
}

.password{
	display:flex;
	margin-left:200px;
}

.botan2{
	display:flex;
	margin-left:200px;
}

.loginbotan{
		display:flex;
	margin-left:200px;
	margin-top:50px;
}

.seinenn{
	margin-left:200px;
}

.kensakubotan{
	display:flex;
	margin-left:400px;
	margin-top:50px;
}